/* make the body fill the window */
body {
    margin: 0px;
    width: 100%; 
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.centeredImage{
    text-align:center;
    margin-top:2px;
    margin-bottom:0px;
    padding:0px;
    }


 /* make any canvas fill its container */
 /* canvas background-color #223322;*/
canvas {
    width: 600px;
    height: 400px;
    background-color:white;
 }
 #mode{
     color:blue;
     display:inline-block;
     padding: 2px 1em 0 0;
 }
 #modename{
     display: inline-block;
     padding-right:80px;
 }
fieldset { overflow:hidden; border:none; }
#usevisual { display:inline-block; clear:none; visibility:hidden;}
label { clear:none; display:inline-block; padding: 2px 1em 0 0; color:red;}
.checkbox { display:inline-block; clear:none; margin: 2px 0 0 2px; }




 #canvas_frame{
    width: 600px;
    height: 400px;
    border-radius: 15px;
    border-width:20px;
    border-color:rgb(76,76,76);
    border-style:solid;
    margin:0 auto;
    margin-top:2px;
 }
 #controls{
     width:720px;
     margin:0 auto;
     /*overflow:hidden;*/
 }
 
 #drop_zone {
border: 2px dashed #bbb;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
padding: 25px;
text-align: center;
font: 20pt bold 'Vollkorn';
color: #bbb;
}

#drop {
padding: 10px;
border: 1px solid #ccc;
background-color:white;
border-radius: 10px;
}
 
 


